//- span #{data[0].name}
extends layout
block content
  .wrapper
    div.row(style="background-color:whitesmoke;")
      table.table.table-responsive
        thead
          tr
            th Rank
            th Team Name
            th ID
            th Round 1
            th Round 2
            th Round 3
            th Highest Score

        each item in data
          tr
            td #{item.rank}
            td #{item.name}
            td #{item.id}
            td #{item.round1}
            td #{item.round2}
            td #{item.round3}
            td #{item.scoresHighest}
